---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="/cryptopals/sets/1">Набір 1: Основи</a>
        </li>
        <li>
          <a href="/cryptopals/sets/2">Набір 2: Блочне кріпто</a>
        </li>
        <li>
          <a href="/cryptopals/sets/3">Набір 3: Блочне та потокове кріпто</a>
        </li>
        <!-- <li>
          <a href="/cryptopals/sets/4">Набір 4: Потокове кріпто та випадковість</a>
        </li> -->
        <!-- <li>
          <a href="/cryptopals/sets/5">Set 5: Diffie-Hellman and friends</a>
        </li>
        <li>
          <a href="/cryptopals/sets/6">Set 6: RSA and DSA</a>
        </li>
        <li>
          <a href="/cryptopals/sets/7">Set 7: Hashes</a>
        </li>
        <li>
          <a href="/cryptopals/sets/8">Set 8: Abstract Algebra</a>
        </li> -->
      </ul>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>